<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skgadi.cit">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.skgadi.cit.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name="com.skgadi.cit.MainActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.skgadi.cit.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/SubAppTheme"
            android:screenOrientation="sensorLandscape"
            android:parentActivityName="com.skgadi.cit.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.skgadi.cit.MainActivity" />
        </activity>
        <activity
            android:name="com.skgadi.cit.DocumentationActivity"
            android:label="@string/Documentation_Title"
            android:theme="@style/SubAppTheme"
            android:screenOrientation="sensorLandscape"
            android:parentActivityName="com.skgadi.cit.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.skgadi.cit.MainActivity" />
        </activity>
    </application>

</manifest>